---
apps:
  http:
    servers:
      proxy:
        logs: {}
        listen:
        - ":8000"
        routes:
        - match:
          - path:
            - "/api/rhsm/*"
          handle:
          - handler: rewrite
            strip_path_prefix: "/api/rhsm"
          - handler: rbac
            service_url: http://localhost:8001/api/rbac/v1
            application:
             - subscriptions
             - config-manager
          - handler: reverse_proxy
            upstreams:
            - dial: echo-api.3scale.net:443
            headers:
              request:
                delete:
                  - Cookie
                  - X-3scale-Proxy-Secret-Token
            transport:
              protocol: http
              tls: {}
              response_header_timeout: 60s
        - match:
          - path:
            - "/_proxy/ping"
          handle:
          - handler: static_response
            status_code: 200
            body: "pong"
      metrics:
        listen:
        - ":9000"
        routes:
        - handle:
          - handler: metrics
